*
{
    padding:0;
    margin:0;
    outline:none;
}
  header,
  .view {
    height: 100%;
  }
html
{
  overflow-x: hidden;
}
  
body
{
    background-color: #090909;
    font-family: 'Ubuntu' !important;
}
::-webkit-scrollbar
{
    width:12px;
    background:white
}
::-webkit-scrollbar-thumb
{
    background:#0D0D0D;
    border-radius: 5px;
    
}
::-webkit-scrollbar-thumb:hover
{
    background:rgb(40, 40, 40);
    
}
.loading
{
    background:#090909;
    color:white;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 99999;
}
.block3 {
   border-left: 2px solid #ffffff;
   border-radius: 50%;
   height:50px;
   width: 50px;
   margin: 50px auto;
   animation: block 0.5s infinite forwards linear;
   text-align: center;
   font-size: 10px;
   position: relative;
   top:40%;
}
/*Start of header*/
header
{
    height:100vh;
 
}
.effect
{
  background:#0D0D0D !important;
  padding:0.5rem !important;
  box-shadow: 5px 5px 10px black;
  transition:0.7s;
}
.navbar
{
    box-shadow: none;
}
.navbar .nav-item
{
    padding:10px;
    border-radius: 50px;
}
.navbar .nav-link
{
    font-size: 16px;
    border-radius: 50px;
    transition:0.3s;
    text-align: center !important;
}
.navbar .js-scroll-trigger:hover
{
   color: #FF8E75 !important;
   transition:0.3s;

}
.navbar .register
{
    color:white !important;
    background: linear-gradient(267.12deg, #FF8E75 -3.06%, #FF4242 100%);
    box-shadow: 0px 2px 20px rgba(255, 125, 108, 0.4);
    padding:10px 25px !important;
}

.navbar-brand
{
    margin:none !important;
    padding:none !important;
}
header
{
   margin-bottom:10rem
}
.headerParagraph
{
    color:#B8B8B8
}
.headerBtn
{
    text-transform: capitalize;
    color:white !important;
    background: linear-gradient(267.12deg, #FF8E75 -3.06%, #FF4242 100%);
    box-shadow: 0px 2px 20px rgba(255, 125, 108, 0.4);
    font-size: 16px;
    margin-left:0 !important;
    transition:0.7s;
}
.headerBtn:hover
{
    box-shadow:none;
    transition:0.7s;
    transform: translateY(-0.3rem);
}
.mouseDiv
{
    position: absolute;
    width:100%;
    height:40vh;
}
.Scroll-down
{
    position: absolute;
    bottom:10rem;
    left:50%;
    transform:translateX(-50%);
    flex-direction: column;
    align-items: center;
}
.mouse
{
    width:1.5rem;
    height:3rem;
    border:1px solid #ffffff;
    border-radius:50px;
    animation: move-wheel .8s linear infinite;
}
.mouse span
{
    width:.2rem;
    height:.4rem;
    background:#ffff;
    display: block;
    border-radius: 50px;
    margin:auto;
    animation: move-wheel .8s linear infinite;
}

/*End of header*/


/*Start of About us section*/
.aboutUs
{
  padding-top:12rem !important;
}
.aboutText
{
  display:flex;
}
.aboutDiv
{
  padding:4.5rem;
}
.aboutDiv .borderImg
{
  width:7rem;
  text-align: center !important;
  margin-left:-0.8rem;
}
.aboutParagraph
{
    color:#B8B8B8
}
.aboutBtn{
    text-transform: capitalize;
    color:white !important;
    background: linear-gradient(267.12deg, #FF8E75 -3.06%, #FF4242 100%);
    box-shadow: 0px 2px 20px rgba(255, 125, 108, 0.4);
    font-size: 16px;
    margin-left:0 !important;
    transition:0.7s;
}
.aboutBtn:hover
{
    box-shadow:none;
    transition:0.7s;
    transform: translateY(-0.3rem);
}
/*End of About us section*/


/*Start of services section*/

.services
{
  padding-top:12rem !important;
}
.services .borderImg
{
  width:7rem;
}
.services .card
{
  background: #0D0D0D;
  border:none;
  box-shadow: none;
  border-radius: 30px;
  cursor: pointer;
  transition:0.9s;
}
.services .card:hover
{
  background: linear-gradient(267.12deg, #FF8E75 -3.06%, #FF4242 100%);
  box-shadow: 0px 2px 20px rgba(255, 125, 108, 0.4);
  transform: translateY(-0.3rem);
  transition:0.9s;
}
.services .card:hover p
{
  color:white;
}
.services .card p
{
  color:#7D7D7D
}
.services .imgDiv img
{
  width:5.5rem;
  height:5rem;
}
.services .carousel-item
{
  list-style: none;
  display: flex;
}

/*End of services section*/

/*Start of  Partners section*/
.partners .borderImg
{
  width:7rem;
}
.partners 
{
  padding-top:12rem !important;
}
.partners .carousel-item
{
  margin:0 1rem;
  height:20rem;
}
.partners .carousel-control-next , .partners .carousel-control-prev
{
  background:#252525;
  width: 3rem;
  height:3rem;
  border-radius: 50px;
  position: absolute;
  top:4rem;
  opacity:0.9;
 
}
.partners .carousel-indicators
{
  top:12rem;
}
.partners .carousel-control-next:hover , .partners .carousel-control-prev:hover
{
  opacity:1;
  transition: opacity 0.15s ease;
}

.partners .partner
{
  width:13%;
  margin:1rem;
  filter: grayscale(100);
  opacity:.5;
  transition:0.5s;
}
.partners .partner:hover
{
  filter: grayscale(0);
  opacity:1;
  transition:0.5s;
}
.partners .carousel-indicators li
{
  margin:0.8rem;
}
.partners .lasttwo
{
  display: inline;
}
/*End of Partners section*/


/*Start of Reviews section*/
.reviews .borderImg
{
  width:7rem;
}
.reviews
{
  padding-top:12rem !important;
  margin-bottom:10rem !important;
}
.reviews .carousel-item
{
  margin-top:5rem;
}
.reviews .carousel-control-next , .reviews .carousel-control-prev
{
  background:#252525;
  width: 3rem;
  height:3rem;
  border-radius: 50px;
  position: absolute;
  top:15rem;
  opacity:0.9;
}
.reviews .carousel-indicators
{
  top:30rem;
}
.reviews .carousel-control-next:hover , .reviews .carousel-control-prev:hover
{
  opacity:1;
  transition: opacity 0.15s ease;
}
.reviews .carousel-indicators li
{
  margin:0 0.8rem;
}
.reviews .reviewPanel
{
  background: #0D0D0D;
  padding:4rem;
  border-radius: 30px;
  margin:0 1rem;
}
.reviews .reviewPanel .clientImg
{
  position: relative;
  top:-8rem;
}
.reviews .reviewPanel .clientImg img
{
  width:6.5rem;
  height:6.5rem;
  border-radius: 50%;
  background:#090909;
  padding:0.4rem;
}
.reviews .reviewPanel .clientRate
{
  position: relative;
  top:-5rem;
}
.reviews .reviewPanel .clientRate i
{
  margin:0 3px;
  font-size:15px;
  color: #FF4242;
}
.reviews .reviewPanel .clientParagraph
{
  color:white;
  position: relative;
  top:-2rem;
  margin:0 5rem;
}
.reviews .reviewPanel .clientParagraph span
{
  color: #FF4242;
  font-size:20px;
  font-weight: bold;
}
.reviews .reviewPanel .clientName
{
  color:#7D7D7D
}
/*End of Reviews section*/



/*Start of Footer Section*/
.page-footer
{
  background:#0D0D0D !important;
  padding:2rem;
}
.page-footer .logo
{
  padding:1rem;
}
.page-footer .socialIcons
{
  background:#0D0D0D !important;
  padding:1.5rem;
}
.page-footer .socialIcons i
{
 margin:0 1rem;

}
.footer-copyright
{
  background:#0D0D0D !important;
}
.footer-copyright span
{
  color:#B8B8B8
}
/*End of Footer Section*/



/*Start of Media query*/

   /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {  
   .mouseDiv
    {
      width:95%;
      height:37vh;
    } 
  html,
    body,
    header,
    .view
    {
      height: 700px;
    }
    .aboutDiv
    {
      padding:0rem;
    }
    .aboutUs
    {
     padding-top:5rem !important;
    }
  .borderImg
   {
     width:5rem;
     text-align: center !important;
     margin-left:0;
   }
   .partners .carousel-control-next , .partners .carousel-control-prev
   {
    display: none;
   }
   .partners .lasttwo
   {
     text-align: center;
     display: block;
   }
   .partners .carousel-indicators
   {
    top:10rem;
   }
   .reviews .carousel-control-next , .reviews .carousel-control-prev
   {
    display: none;
   }
   .reviews .reviewPanel .clientParagraph
   {
    margin:0
   }
   .reviews .carousel-indicators
   {
    top:45rem;
   }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  .mouseDiv
    {
      width:95%;
      height:37vh;
    } 
  html,
    body,
    header,
    .view
    {
      height: 700px;
    }
    .aboutDiv
    {
      padding:0rem;
    }
    .aboutUs
    {
     padding-top:5rem !important;
    }
   .borderImg
    {
      width:5rem;
      text-align: center !important;
      margin-left:0;
    }
    .partners .carousel-control-next , .partners .carousel-control-prev
    {
      display: none;
    }
    .partners  .carousel-indicators
    {
     top:10rem;
    }
    .reviews .carousel-control-next , .reviews .carousel-control-prev
    {
     display: none;
    }
    .reviews .reviewPanel .clientParagraph
    {
     margin:0
    }
    .reviews .carousel-indicators
    {
     top:35rem;
    }
  
 }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) 
{ 
  .navbar:not(.top-nav-collapse) 
  {
    background:#0D0D0D !important;
    padding:1rem !important 
  }
  .mouseDiv
    {
      width:95%;
      height:37vh;
    } 
  html,
    body,
    header,
    .view
    {
      height: 700px;
    }
    .aboutDiv
    {
      padding:0rem;
    }
    .aboutUs
    {
     padding-top:5rem !important;
    }
     .borderImg
    {
      width:5rem;
      text-align: center !important;
      margin-left:0;
    }
    .partners .carousel-control-next , .partners .carousel-control-prev
    {
      display: none;
    }
    .partners  .carousel-indicators
    {
     top:10rem;
    }
    .reviews .carousel-control-next , .reviews .carousel-control-prev
    {
     display: none;
    }
    .reviews .reviewPanel .clientParagraph
    {
     margin:0
    }
    .reviews .carousel-indicators
    {
     top:33rem;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) 
{}


  /*End of Media query*/

   /*Start of Keyframes*/
  @keyframes move-wheel
  {
      0%
      {
       opacity: 0;
       transform:translateY(-0.1rem)
      }

      100%
      {
       opacity: 1;
       transform:translateY(1.1rem)
      }
  }

  @keyframes block {
    to{
      transform: rotate(360deg);
    }
  }
/*End of Keyframes*/